*.py[cod]
*.swp
.coverage
db.sqlite3
*/settings_local.py
htmlcov
media/*
static/*
*.pem
*env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
